.register__input {
    margin: 0 auto 216px;
    width: 100%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #fff;
    border: none;
    background-color: black;
    border-bottom: 2px solid #CCCCCC;
    
}

.register__input:first-of-type {
    margin-bottom: 30px;
}