.container{
    width: 880px;
    margin: 0 auto 0;
    padding: 45px 0 0;
    background-color: #000;
}

@media screen and (max-width: 1279px) {
    .container {
        width: 282px;
        margin: 28px auto 0;
    }
}
