.card {
    width: 282px;
    height: 361px;
    margin: 0;
    padding: 0;
    border-radius: 10px;
    object-fit: contain;
    display: flex;
    flex-flow: column;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    background-color: #FFFFFF;
    position: relative;
}