.header {
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
    min-height: 74px;
    border-bottom: 1px solid rgba(84,84,84, 0.7);
}

@media screen and (max-width: 1279px) {
    .header {
        min-height: 56px;
        margin-left: 8px;
    }
}